@font-face {
  font-family: "iconfont"; /* Project id 3881267 */
  src: url('//at.alicdn.com/t/c/font_3881267_wfv3iyzbijg.woff2?t=1676647537955') format('woff2'),
       url('//at.alicdn.com/t/c/font_3881267_wfv3iyzbijg.woff?t=1676647537955') format('woff'),
       url('//at.alicdn.com/t/c/font_3881267_wfv3iyzbijg.ttf?t=1676647537955') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-anniu_jiantouxiangzuo:before {
  content: "\e6e6";
}

.icon-anniu-jiantouxiangyou:before {
  content: "\e6ec";
}

.icon-anniu_jiantouxiangzuo_o:before {
  content: "\eb89";
}

.icon-anniu-jiantouxiangyou_o:before {
  content: "\eb8c";
}

.icon-liebiaomoshi_kuai:before {
  content: "\ec7e";
}

.icon-yonghu:before {
  content: "\e604";
}

.icon-gouwuchefill:before {
  content: "\e73c";
}

.icon-xin:before {
  content: "\e8c0";
}

.icon-wenhao:before {
  content: "\eae2";
}

.icon-24gl-phoneLoudspeaker:before {
  content: "\e94f";
}

.icon-touxiang:before {
  content: "\e60f";
}

.icon-mogui:before {
  content: "\e603";
}

.icon-yinlianglabashengyin:before {
  content: "\e7b5";
}

.icon-hot:before {
  content: "\e677";
}

.icon-github:before {
  content: "\e602";
}

.icon-taiji:before {
  content: "\e653";
}

.icon-yanjing:before {
  content: "\e629";
}

.icon-jiangbei:before {
  content: "\e6aa";
}

.icon-youxi:before {
  content: "\e618";
}

.icon-24gf-building2:before {
  content: "\e838";
}

.icon-teshuyixueyujunshiyixueke:before {
  content: "\e66f";
}

.icon-gufengwujianzhongguofengzhujian_huaban_huaban_huaban:before {
  content: "\e632";
}

.icon-gufengwujianzhongguofenggudaibingqijiangujian_huaban_huaban:before {
  content: "\e634";
}

.icon-luoxuan2:before {
  content: "\e651";
}

.icon-xingqiu:before {
  content: "\e65c";
}

.icon-long:before {
  content: "\f3f7";
}

.icon-biaoqianlan_zhichang:before {
  content: "\e7ba";
}

.icon-shouji:before {
  content: "\e601";
}

.icon-shubiao:before {
  content: "\e623";
}

.icon-fenlei1:before {
  content: "\e669";
}

.icon-shu:before {
  content: "\e60e";
}

.icon-sousuo:before {
  content: "\e622";
}

.icon-31sousuo:before {
  content: "\e600";
}

.icon-liwu:before {
  content: "\e63e";
}
