* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body {
  background-color: rgb(233, 233, 233);
}
.button {
  display: block;
  margin: auto;
  height: 50px;
  width: 100px;
  border-radius: 10px;
  font-size: 20px;
  background-color: rgb(255, 158, 158);
  color: rgb(0, 0, 0);
  border: none;
  transition-duration: 0.4s;
  margin: 5px 5px;
}
.button:hover {
  background-color: red;
  color: white;
}
h1 {  
  text-align: center;  
  color: #333;  
  margin-top: 50px;  
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5); /* 文字阴影 */  
  transition: all 0.3s ease; /* 文字和背景颜色过渡效果 */  
}  

h1:hover {  
  color: #555; /* 当鼠标悬停时的文字颜色 */  
}  
.nav {
  position: fixed;
  z-index: 999;
  height: 60px;
  width: 100%;
  background-image: linear-gradient(#b3ebff, #b2eaff);
  /*		background: #05BEFF;*/
  box-shadow: 0 0 3px 1px rgb(200, 200, 200);
}
.navlist li {
  float: left;
  height: 40px;
  width: 150px;
  line-height: 60px;
  text-align: center;
}
.al {
  color: black;
  font-size: 20px;
  display: block;
}
.al:hover {
  background: #93e0f5;
}
.navlist {
  width: 1000px;
  margin: auto;
}
.message {
  position: absolute;
  right: 0px;
  top: 110px;
  width: 20%;
  height: 800px;
  float: right;
  display: block;
}
.center {
  margin: auto;
  display: block;
}
