#comments {
  width: 80%;
  margin: 0 auto;
}

#comment-list {
  margin-top: 10px;
}

#comment-list .comment {
  margin-bottom: 5px;
  padding-left: 5px;
  padding-top: 0px;
  border: 1px solid #ccc;
}

#comment-form input,
#comment-form textarea {
  width: 100%;
  margin-bottom: 10px;
}

#comment-form button {
  display: block;
  margin: 0 auto;
}